<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>“As pessoas mais interessantes que conheço ainda não descobriram o que querem da vida.” – não lembro do autor</p>

    <p>Tenho 33 cronologicamente comprovados em cartório e moro num bairro tranquilo de Vitória no Espírito Santo. Na estrada desde 96, programar já era meu tesão numa época em que ser “nerd” e “geek” ainda não era moda. Culpa de um TK9000 ligado na televisão, que rodava um BASIC meio torto e me deixava rodar jogos com fitas cassete. Alguns anos depois minha mãe comprou um MSX da Gradiente e a paixão bateu forte.</p>
    
    <p>Descobri depois de muito tempo que o que gosto é de ajudar as pessoas e a tecnologia foi a melhor forma que encontrei para fazer isso acontecer de uma forma mais palpável. Uma epifania engraçada mas reveladora.</p>
    
    <p>Acumulei durante esses anos muitas linguagens, livros (que viraram apoio de monitor), amigos, parceiros, experiências e muita história para contar sobre uma época em que o Internet Explorer “bombava”, o Netscape era algo comum, a conexão na Internet era precária, o barulho do modem conectando trazia um sorriso no canto do rosto, kits multimedia da Sound Blaster eram sinal de status com os amigos, os computadores tinham um botão “turbo” e aprender a programar era uma epopéia.</p>
    
    <p>Tudo isso me fez ter coragem de tentar a vida como empreendedor na Giran E-commerce Solutions. Hoje temos um monte de pessoas sensacionais, apaixonadas, de uma competência e profissionalismo impressionantes onde aprendo todo dia uma coisa nova.</p>
    
    <p>Minha paixão por tecnologia só aumentou e hoje divido isso com meus dois outros amores: música e literatura. Então, não  poupo palavras ao falar apaixonadamente sobre desenvolvimento, internet, para onde a tecnologia está indo (e já está), boa música, literatura ultra-romancista, video games, filmes, cerveja e tudo o que a vida trás de bom.</p>
    
    <p>Entusiasta do “gentileza gera gentileza” e que as pessoas podem melhorar suas vidas conhecimento, ajudo (ou tento) a organizar todo tipo de iniciativa de ensinar algo seja como palestrante, seja como organizador ou mesmo um incitador.</p>
    
    <p>Geek, (acho que) músico, (tentando ser) poeta e esposo de uma mulher linda.</p>
    
</div>